[submodule "TimbreTransfer/R2D2SoundGeneration"]
	path = TimbreTransfer/R2D2SoundGeneration
	url = https://github.com/hhoangphuoc/R2D2SoundGeneration.git
[submodule "TimbreTransfer/R2D2TimbreTransfer"]
	path = TimbreTransfer/R2D2TimbreTransfer
	url = https://github.com/hhoangphuoc/R2D2TimbreTransfer
